* {
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color-one: #26baa4;
  --main-color-two: #6173ff;
  --main-color-text-one: #4c545d;
  --main-color-text-two: #9fabb2;
}
/* Start Components */
.start-header {
  color: var(--main-color-text-one);
  margin-bottom: 40px;
  text-align: center;
  margin: 0 auto 50px;
  display: block;
}
.start-header h1 {
  margin-bottom: 20px;
  font-size: 38px;
}
.start-header p {
  line-height: 1.6;
  opacity: 0.6;
  color: var(--main-color-text-two);
}
/* End Components */
/* Start Main Container */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Smail Mobile */
@media (max-width: 480px) {
  .container {
    width: 450px;
  }
}
/* Large */
@media (min-width: 481px) {
  .container {
    width: 650px;
  }
}
/* End main Container */
/* Start Welcome Page */
.welcome {
  text-align: center;
  background-image: url("../images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  margin-bottom: 150px;
}
.welcome .s-l {
  margin-bottom: 50px;
}
.welcome .download-links a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 0 15px;
  color: white;
  border-bottom: 2px solid;
}
.welcome .download-links .IOS {
  background-color: var(--main-color-one);
  box-shadow: 0 1px 5px 0 var(--main-color-one);
  border-color: #186e61;
}
.welcome .download-links .MAC {
  background-color: var(--main-color-two);
  box-shadow: 0 1px 5px 0 var(--main-color-two);
  border-color: #4653b6;
}
@media (max-width: 480px) {
  .welcome {
    background-image: url("../images/bg-header-mobile.png");
    width: 100vh;
  }
  .welcome .download-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
/* End Welcome Page */
/* Start Section-one */
.section-one .content {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}
.section-one .content img {
  transform: translateX(-30px);
}
.section-one ul {
  list-style: none;
  margin: 25px 0 auto;
}
.section-one ul li {
  padding: 20px;
}
.section-one ul li h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--main-color-text-one);
}
.section-one ul li p {
  line-height: 1.6;
  opacity: 0.5;
  color: var(--main-color-text-two);
}
@media (max-width: 480px) {
  .section-one {
    width: 100vh;
  }
  .section-one .content {
    padding: 20px;
    flex-direction: column;
  }
  .section-one .content img {
    transform: none;
  }
  .section-one .content ul li {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .section-one ul li h2 {
    font-size: 38px;
    margin-bottom: 20px;
  }
}
/* End Section-one */
/* Start Section-two */
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(100px - 40px);
}
.section-two img {
  margin-top: 100px;
  width: 70%;
}
@media (max-width: 480px) {
  .section-two {
    width: 100vh;
  }
  .section-two img {
    width: 90%;
  }
}
/* End Section-two */
/* Start Section-Three */
.section-three {
  margin: 100px 0 50px;
}
.section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-three .part-one {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
  margin: 30px auto 220px;
  gap: 20px;
  align-items: baseline;
}
.section-three .part-one li img {
  margin: 0 0 38px;
}
.section-three .part-one li h2 {
  font-size: 22px;
  margin-bottom: 28px;
  color: var(--main-color-text-one);
}
.section-three .part-one li p {
  line-height: 1.8;
  opacity: 0.6;
  color: var(--main-color-text-two);
}
.part-two {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 480px) {
  .section-three {
    width: 100vh;
  }
  .section-three .part-one {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
  }
  .section-three .part-one li {
    width: 350px;
  }
  .section-three .part-one li img {
    width: 80px;
  }
  .section-three .part-one li h2 {
    font-size: 36px;
  }
  .section-three .part-two {
    flex-direction: column;
    gap: 80px;
    margin: 50px 0;
  }
}
/* End Section-Three */
/* Start End Shape */
.welcome-two {
  background-image: none;
}
/* End End Shape */
/* Start Footer */
.footer {
  display: flex;
  background-color: #f5f6f8;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-top: 200px;
}
.footer .logo {
  width: 58px;
}
.footer ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 38px;
  margin-right: 250px;
}
.footer .contact a {
  margin: 0 10px;
}
.footer a {
  text-decoration: none;
  color: var(--main-color-text-one);
}
@media (max-width: 480px) {
  .footer {
    width: 100vh;
    flex-direction: column;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
  }
}
/* End Footer */
/* Start Active Section */
.footer a:hover {
  color: var(--main-color-one);
}
.welcome .download-links a:hover {
  opacity: 0.7;
}
/* End Active Section */
/* ME */
.contact-us > * {
  /* width: fit-content; */
  margin: 20px auto 0;
  padding: 20px;
  color: var(--main-color-two);
  text-align: center;
}
.contact-us a {
  text-decoration: none;
  color: var(--main-color-two);
}
.contact-us a:hover {
  color: var(--main-color-one);
}
@media (max-width: 480px) {
  .contact-us {
    width: 100vh;
  }
}
