* {
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
/* Start Components */
.start-header {
  color: #4c545d;
  margin-bottom: 40px;
  text-align: center;
  margin: 0 auto 50px;
  display: block;
}
.start-header h1 {
  margin-bottom: 20px;
  font-size: 38px;
}
.start-header p {
  line-height: 1.6;
}
/* End Components */
/* Start Main Container */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Smail Mobile */
@media (max-width: 480px) {
  .container {
    width: 450px;
  }
}
/* Large */
@media (min-width: 481px) {
  .container {
    width: 650px;
  }
}
/* End main Container */
/* Start Welcome Page */
.welcome {
  text-align: center;
  background-image: url("../images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  margin-bottom: 100px;
}
.welcome .s-l {
  margin-bottom: 50px;
}
.welcome .download-links a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 0 15px;
  color: white;
  border-bottom: 2px solid;
}
.welcome .download-links .IOS {
  background-color: #26baa4;
  box-shadow: 0 1px 5px 0 #26baa4;
  border-color: #186e61;
}
.welcome .download-links .MAC {
  background-color: #6173ff;
  box-shadow: 0 1px 5px 0 #6173ff;
  border-color: #4653b6;
}
@media (max-width: 480px) {
  .welcome {
    background-image: url("../images/bg-header-mobile.png");
    width: 100vh;
  }
  .welcome .download-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
/* End Welcome Page */
/* Start Section-one */
.section-one .content {
  display: flex;
  gap: 120px;
  padding-top: calc(100px - 40px);
  margin-bottom: 100px;
}
.section-one .content img {
  transform: translateX(-30px);
}
.section-one ul {
  list-style: none;
  margin: 25px 0 auto;
}
.section-one ul li {
  padding: 20px;
  color: #4c545d;
}
.section-one ul li h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.section-one ul li p {
  line-height: 1.6;
  opacity: 0.5;
}
@media (max-width: 480px) {
  .section-one {
    width: 100vh;
  }
  .section-one .content {
    padding: 20px;
    flex-direction: column;
  }
  .section-one .content img {
    transform: none;
  }
  .section-one .content ul li {
    text-align: center;
  }
}
/* End Section-one */
